@import url("https://fonts.googleapis.com/css?family=Roboto");

$font-roboto: 'Roboto', sans-serif;

$base-bg: #fff;
$base-color: #343741;
$base-shadow: #00000040;
$grey-color: #777;
$border-color: #d4d4d4;

$border-radius: 6px;

$change-layout-m: 1200px;
$change-layout-s: 900px;
$change-layout-xs: 510px;
